footer {
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #002f47;
  position: relative;
}

footer .footer_wrapper {
  width: 1350px;
  height: fit-content;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
  flex-direction: row;
}

.footer_wrapper > div {
  width: 425px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 75px 25px;
  margin-bottom: 50px;
}

.footer_wrapper > div:nth-child(2) {
  align-items: center;
}

footer i {
  font-size: 28px;
  color: #ff5959;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

footer img {
  width: 125px;
}

footer h3 {
  font-size: 22px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
}

footer a {
  text-decoration: none;
  color: #002f47;
}

footer i {
  font-size: 20px;
  margin-left: -10px;
  margin-right: 5px;
}

.media_links i {
  font-size: 34px;
}

footer .contacts {
  display: flex;
  flex-direction: column;
}

footer .contacts a {
  margin-bottom: 15px;
}

footer hr {
  width: 1325px;
  height: 1px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
}

footer .disclaimer {
  width: 100%;
  position: absolute;
  bottom: 30px;
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .footer_wrapper > div {
    width: 30%;
    height: fit-content;
    padding: 50px 50px;
    padding-bottom: 75px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 856px) {
  .footer_wrapper {
    width: 100vw !important;
    flex-direction: column !important;
    overflow: hidden;
    padding: 0 25px;
  }

  .footer_wrapper > div {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    align-items: flex-start !important;
  }

  .footer_wrapper > div:nth-child(1) {
    margin-top: 50px;
    align-items: center !important;
    text-align: center;
  }

  .footer_wrapper > div:nth-child(3) {
    padding-bottom: 125px;
  }
}
