nav {
  width: 100vw;
  height: 100px;
  overflow: hidden;
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background: white;
  z-index: 6;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

nav .nav_wrapper {
  width: 1350px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 100%;
  transform: scale(1.1);
}

nav .nav_links {
  width: fit-content;
  height: 100%;
  display: flex;
}

nav .nav_link {
  height: 100%;
  color: #ff5959;
  font-size: 16px;
  margin-right: 25px;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  padding: 5px 15px;
  padding-top: 30px;
}

nav .nav_link:hover {
  color: #7f2c2c;
}

nav .nav_link.active::before {
  content: "";
  background: linear-gradient(to top, #ff5959 1px, #ffdddd 3px, white);
  position: absolute;
  width: 75px;
  height: 100px;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

nav span.nav_link {
  height: fit-content;
  background: #ff5959;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  margin-top: 25px;
}

nav span.nav_link:hover {
  color: #993535;
}

.ham {
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  display: none;
  z-index: 7;
}

.ham .bar,
.ham .bar::after {
  content: "";
  height: 5px;
  border-radius: 5px;
  background: #ff5959;
  transition: 0.5s;
}

.ham .bar {
  width: 60%;
  position: absolute;
  inset: 50%;
  top: 25px;
  transform: translate(-50%, -50%);
}

.ham .bar::after {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
}

.ham:hover .bar {
  transform: translate(-50%, -50%) rotate(10deg);
}

.ham.active .bar {
  transform: translate(-50%, -50%) rotate(225deg);
}

.ham.active .bar::after {
  transform: rotate(-90deg);
  top: 0;
}

@media only screen and (max-width: 886px) {
  nav {
    overflow: hidden;
  }

  .ham {
    display: block;
  }

  nav .nav_links {
    display: none;
  }

  .side_bar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 6;
  }

  nav .side_bar .sidebar_wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    top: 50%;
    left: -350px;
    transform: translateY(-50%);
    background: white;
    z-index: 6;
    padding: 5px 0;
    padding-left: 35px;
    padding-bottom: 25px;
    border-radius: 25px;
    transition: 0.5s;
  }

  nav .slidebar.active {
    background: rgba(0, 0, 0, 0.01);
  }

  nav .slidebar.active .sidebar_wrapper {
    left: 25px;
  }

  nav .side_bar .nav_link {
    height: 50px !important;
    width: 150px !important;
    border-radius: 10px;
  }

  nav .side_bar .nav_link:last-child {
    width: 135px !important;
    height: 40px !important;
    padding-top: 7px;
  }

  nav .nav_link.active::before {
    width: 5px;
    height: 18px;
    border-radius: 10px;
    background: #ff5959;
    top: 33px;
    left: 0px;
  }
}
