nav {
  width: 100vw;
  height: 100px;
  overflow: hidden;
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background: white;
  z-index: 2;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

nav .nav_wrapper {
  width: 1350px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 100%;
  transform: scale(1.1);
}

nav .nav_links {
  width: fit-content;
  height: 100%;
  display: flex;
}

nav .nav_link {
  height: 100%;
  color: #ff5959;
  font-size: 16px;
  margin-right: 25px;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  padding: 5px 15px;
  padding-top: 30px;
}

nav .nav_link:hover {
  color: #7f2c2c;
}

nav .nav_link.active::before {
  content: "";
  background: linear-gradient(to top, #ff5959 1px, #ffdddd 3px, white);
  position: absolute;
  width: 75px;
  height: 100px;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

nav span.nav_link {
  height: fit-content;
  background: #ff5959;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  margin-top: 25px;
}

nav span.nav_link:hover {
  color: #993535;
}
